<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - {{ title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
            color: white;
        }
        .list-group-item {
            color: black; /* Define a cor do texto dos feedbacks como branca */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Feedback para {{ title }}</h1>
        <form method="POST" action="">
            <div class="form-group">
                <textarea name="feedback" class="form-control" placeholder="Deixe seu feedback aqui..." required></textarea>
            </div>
            <input type="submit" value="Enviar Feedback" class="btn btn-success">
        </form>

        <h2 class="mt-4">Feedbacks Anteriores:</h2>
        <ul class="list-group">
            {% for feedback in feedbacks %}
            <li class="list-group-item">{{ feedback.content }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-primary mt-3">Voltar</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
